In [5]:
import pandas as pd
import random
from faker import Faker

fake = Faker()
def create_inventory_data(num_branches, num_products):
    data = {
        'product_id': [],
        'branch_id': [],
        'quantity': [],
        'last_updated': []
    }

    for branch in range(1, num_branches + 1):
        for product in range(1, num_products + 1):
            data['product_id'].append(product)
            data['branch_id'].append(branch)
            data['quantity'].append(random.randint(0, 1000))  
            data['last_updated'].append(fake.date_this_year()) 

    return pd.DataFrame(data)

inventory_df = create_inventory_data(20, 66)

In [4]:
inventory_df

      product_id  branch_id  quantity last_updated
0              1          1       894   2024-04-20
1              2          1       397   2024-04-17
2              3          1       874   2024-09-09
3              4          1       733   2024-09-01
4              5          1       654   2024-08-12
...          ...        ...       ...          ...
1315          62         20       139   2024-04-20
1316          63         20        47   2024-07-03
1317          64         20       520   2024-03-19
1318          65         20       464   2024-06-05
1319          66         20       625   2024-03-18

[1320 rows x 4 columns]