In [1]:
import mysql.connector
from mysql.connector import Error
from faker import Faker
import random
import pandas as pd
from sqlalchemy import create_engine

In [16]:
# Database info
host = '127.0.0.1'
database = 'supermarket'
user = 'root'
password = '55427047sS'

In [17]:
# append df to my sql
def append_dataframe_to_mysql(df, table_name, host, database, user, password):
    try:
       
        connection_string = f"mysql+mysqlconnector://{user}:{password}@{host}/{database}"
        engine = create_engine(connection_string)
        
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        print(f"Data successfully appended to '{table_name}' table in {database} database.")
    
    except Exception as e:
        print(f"An error occurred: {e}")

In [4]:
fake = Faker()

In [25]:
# Customers table
# **set customers = 1000 **  
def generate_fake_customers_data(customer_num_records):
    customer_data = []

    for _ in range(customer_num_records):
        customer = {
            'first_name': fake.first_name(),
            'last_name': fake.last_name(),
            'email': fake.email(),
            'phone': fake.phone_number()[:20],  
            'address': fake.address(),
            'city': fake.city(),
            'country': fake.country(),
            'registration_date': fake.date_this_decade()
        }
        customer_data.append(customer)
    
    return customer_data

customers = generate_fake_customers_data(1000)
customers_df = pd.DataFrame(customers)

append_dataframe_to_mysql(customers_df, 'customers', host, database, user, password)

Data successfully appended to 'customers' table in supermarket database.

In [25]:
# Branch table
# **set branch = 20 **  
# Thai cities to random
thai_cities = [
    'Bangkok', 'Chiang Mai', 'Phuket', 'Khon Kaen', 'Nakhon Ratchasima',
    'Ayutthaya', 'Nakhon Si Thammarat', 'Udon Thani', 'Hua Hin', 'Pattaya',
    'Sukhothai', 'Surat Thani', 'Ubon Ratchathani', 'Mae Hong Son', 'Lampang',
    'Ratchaburi', 'Nakhon Pathom', 'Songkhla', 'Loei', 'Trat', 'Chonburi',
    'Samut Prakan', 'Nonthaburi', 'Pathum Thani', 'Prachuap Khiri Khan', 'Phetchaburi',
    'Nakhon Nayok', 'Uttaradit', 'Kamphaeng Phet', 'Yasothon', 'Amnat Charoen',
    'Roi Et', 'Kalasin', 'Mukdahan', 'Sakon Nakhon', 'Saraburi',
    'Suphan Buri', 'Lopburi', 'Nakhon Phanom', 'Chaiyaphum', 'Buriram'
]

def generate_fake_branch_data(num_records):
    branch_data = []
    for _ in range(num_records):
        branch = {
            'branch_type': random.choice(['standalone', 'in_shopping_mall', 'in_community_mall', 'small_shop']),
            'city': random.choice(thai_cities),  # Random cities from list
            'country': 'Thailand',
            'phone_number': fake.phone_number(),
            'shop_open_date': fake.date_this_decade()
        }
        branch_data.append(branch)
    return branch_data

branches = generate_fake_branch_data(20) # number of records
branches_df = pd.DataFrame(branches)
append_dataframe_to_mysql(branches_df, 'branch',host, database, user, password)

Data successfully appended to 'branch' table in supermarket database.

In [30]:
# Employees table 
# set = 50 employees
def generate_employees_data(num_records=50): # if you want to random use random.randint(min,max)
    employees_data = []
    
    for _ in range(num_records):
        employee = {
            'first_name': fake.first_name(),
            'last_name': fake.last_name(),
            'position': random.choice(['Manager', 'Sales Associate', 'Cashier', 'Stock Clerk', 'Supervisor']),
            'branch_id': random.randint(1, 20),  # 20 branches
            'salary': round(random.uniform(30000, 90000), 2),
            'hire_date': fake.date_this_decade(),
            'termination_date': fake.date_between(start_date='-1y', end_date='today') if random.choice([True, False]) else None,
            'email': fake.email(),
            'phone': fake.phone_number(),
            'is_active': random.choice([0, 1])
        }
        employees_data.append(employee)
    
    return employees_data

employees = generate_employees_data(100)

employees_df = pd.DataFrame(employees)

append_dataframe_to_mysql(employees_df, 'employees', host, database, user, password)

Data successfully appended to 'employees' table in supermarket database.

In [34]:
# product table
# set = 20 values
def generate_fake_supplier_data(num_records):
    supplier_data = []
    
    for _ in range(num_records):
        supplier = {
            'supplier_name': fake.company(),
            'contact_name': fake.name(),
            'contact_email': fake.email(),
            'contact_phone': fake.phone_number(),
            'address': fake.address(),
            'city': fake.city(),
            'country': fake.country()
        }
        supplier_data.append(supplier)
    
    return supplier_data

suppliers = generate_fake_supplier_data(20)
suppliers_df = pd.DataFrame(suppliers)

append_dataframe_to_mysql(suppliers_df, 'suppliers', host, database, user, password)

Data successfully appended to 'suppliers' table in supermarket database.

In [37]:
# Product to category mapping
product_to_category = {
    # Fruits
    'Apple': 'Fruits',
    'Banana': 'Fruits',
    'Orange': 'Fruits',
    'Grapes': 'Fruits',
    'Strawberry': 'Fruits',
    'Blueberry': 'Fruits',
    'Pineapple': 'Fruits',
    'Mango': 'Fruits',
    'Peach': 'Fruits',
    'Cherry': 'Fruits',
    
    # Dairy
    'Milk': 'Dairy',
    'Cheese': 'Dairy',
    'Yogurt': 'Dairy',
    'Butter': 'Dairy',
    'Cream': 'Dairy',
    'Cottage Cheese': 'Dairy',
    
    # Bakery
    'Bread': 'Bakery',
    'Croissant': 'Bakery',
    'Bagels': 'Bakery',
    'Muffins': 'Bakery',
    'Donuts': 'Bakery',
    
    # Meat
    'Chicken Breast': 'Meat',
    'Ground Beef': 'Meat',
    'Pork Chops': 'Meat',
    'Steak': 'Meat',
    'Sausages': 'Meat',
    
    # Grains
    'Rice': 'Grains',
    'Pasta': 'Grains',
    'Quinoa': 'Grains',
    'Oats': 'Grains',
    'Barley': 'Grains',
    
    # Beverages
    'Soda': 'Beverages',
    'Orange Juice': 'Beverages',
    'Coffee': 'Beverages',
    'Tea': 'Beverages',
    'Water': 'Beverages',
    
    # Snacks
    'Chips': 'Snacks',
    'Pretzels': 'Snacks',
    'Nuts': 'Snacks',
    'Granola Bars': 'Snacks',
    'Cookies': 'Snacks',
    
    # Frozen Foods
    'Frozen Pizza': 'Frozen Foods',
    'Ice Cream': 'Frozen Foods',
    'Frozen Vegetables': 'Frozen Foods',
    'Frozen Fries': 'Frozen Foods',
    'Frozen Berries': 'Frozen Foods',
    
    # Condiments
    'Ketchup': 'Condiments',
    'Mustard': 'Condiments',
    'Mayonnaise': 'Condiments',
    'Barbecue Sauce': 'Condiments',
    'Soy Sauce': 'Condiments',
    
    # Household Supplies
    'Toilet Paper': 'Household Supplies',
    'Paper Towels': 'Household Supplies',
    'Laundry Detergent': 'Household Supplies',
    'Dish Soap': 'Household Supplies',
    'Cleaning Spray': 'Household Supplies',
    
    # Personal Care
    'Shampoo': 'Personal Care',
    'Conditioner': 'Personal Care',
    'Toothpaste': 'Personal Care',
    'Soap': 'Personal Care',
    'Deodorant': 'Personal Care',
    
    # Health Foods
    'Almond Milk': 'Health Foods',
    'Chia Seeds': 'Health Foods',
    'Spirulina': 'Health Foods',
    'Acai Berries': 'Health Foods',
    'Goji Berries': 'Health Foods'
}

def generate_all_products_data():
    product_data = []
    
    for product_name, category_name in product_to_category.items():
        product = {
            'product_name': product_name,
            'category_name': category_name
    
        }
        product_data.append(product)
    
    return product_data


products = generate_all_products_data()

products_df = pd.DataFrame(products)

append_dataframe_to_mysql(products_df, 'products', host, database, user, password)

Data successfully appended to 'products' table in supermarket database.

In [38]:
# inventory table
# everystore has the same items
def create_inventory_data(num_branches, num_products):
    data = {
        'product_id': [],
        'branch_id': [],
        'quantity': [],
        'last_updated': []
    }

    for branch in range(1, num_branches + 1):
        for product in range(1, num_products + 1):
            data['product_id'].append(product)
            data['branch_id'].append(branch)
            data['quantity'].append(random.randint(0, 1000))  
            data['last_updated'].append(fake.date_this_year()) 

    return pd.DataFrame(data)

inventory_df = create_inventory_data(20, 66)

append_dataframe_to_mysql(inventory_df, 'inventory', host, database, user, password)

Data successfully appended to 'inventory' table in supermarket database.

In [ ]:
def